.container
  .row
    %h1.title Login
  .row
    .col-lg-offset-3.col-lg-6
      = form_for :session, url: login_path do |f|
        .form-group
          = f.label :email
          = f.text_field :email, placeholder: t(".enter_your_email"), class: "form-control"
        .form-group
          = f.label :password
          = f.password_field :password, placeholder: t(".enter_your_password"), class: "form-control"                                           
        .text-center
          = f.submit t(".login"), class: "btn btn-info col-lg-12"
        .text-right
          = link_to t(".register"), new_user_path