- @devices.each do |device|
  %tr
    %td= device.id
    %td= link_to "#{device.name}", device
    %td= device.code
    %td
      - unless device.requests.any?{|request| request.end_at.blank?}
        = link_to t(".assign"), new_request_path(device_id: device.id), class: "btn btn-info btn-sm", remote: true
        = link_to t(".delete"), device_path(device), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-warning btn-sm", remote: true
#myModalRequest
