#myModal.modal.fade.bd-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5
          %b
            = t(".add_new_device")
        %h4
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_for device, remote: true do |f|
          = render "shared/error_messages", object: f.object
          .form-group
            = f.label :name
            = f.text_field :name, class: "form-control"
          .form-group
            = f.label :code
            = f.text_field  :code, class: "form-control"
          .form-group
            = f.label :accquired_date
            = f.date_field  :accquired_date, class: "form-control"
          .form-group
            = f.label :supplier
            = f.text_field  :supplier, class: "form-control"
          .form-group
            = f.label :user_id, 'Buyer'
            = f.text_field :user_id, class: "form-control", disabled: true, value: @buyer
          .form-group
            = f.label :price
            = f.text_field  :price, class: "form-control"
          = f.submit t(".submit"), class: "btn btn-primary"
