.card
  .card-body
    .span
      = link_to t(".add_device"), new_device_path, remote: true, class: "btn btn-primary btn-sm"
      %div{:style => " margin-top: 15px; "}
        = form_tag devices_path, method: :get, :id => "search-devices" do
          .input-group
            = text_field_tag :keyword, params[:keyword], placeholder: t(".enter")
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover{:style => "text-align: center"}
      %thead
        %tr
          %th
            = t(".id")
          %th
            = t(".name")
          %th
            = t(".code")
          %th
      %tbody#devices_table
        = render "devices/device"
#myModal1
