.container
  .row
    .container
      .col-md-6.col-custom
        %h5
          = t(".model_name")
          = @device.name
        %h5.mb
          = t(".model_code")
          = @device.code
        %h5.mb
          = t(".model_accquired_date")
          = @device.accquired_date
        %h5.mb
          = t(".model_supplier")
          = @device.supplier
        %h5.mb
          = t(".model_price")
          = @device.price
        %h5.mb
          = t(".model_condition")
          = @device.condition
        %h5.mb
          - if @device.avaiable?
            = link_to t(".assign"), new_request_path(device_id: @device.id), class: "btn btn-info btn-sm", remote: true
          - elsif @device.unavaiable?
            = link_to t(".return"), request_path(@request),method: :put, class: "btn btn-info btn-sm", remote: true
      = render "requests/show", device: @device
#myModalRequest
