.container
  .row
    .container
      .col-md-6.col-custom
        .span.info
          %h4= t(".info")
          = t(".name")
          %u
            %b= link_to "#{@device.name}"
          %br
          = t(".code")
          %u
            %b= link_to"#{@device.code}"
      = render "requests/show", device: @device
