.container
  .row
    .container
      .col-md-6.col-custom
        %h4
          = t(".model_name")
          = @device.name
        %h4.mb
          = t(".model_tag")
          = @device.code
      = render "requests/show", device: @device
