#nav
  %ul.pagination.justify-content-end{:style => "margin:20px 0"}
    %li.page-item
      = link_to t(".previous"), users_path(page: @page - 1), class: "page-link" unless @page - 1 <= 0
    - (1..@total_page).each do |page_number|
      - if params[:page].present?
        %li{ :class => "#{'page-item active' if page_number == params[:page].to_i}"}
          = link_to page_number, users_path(page: page_number), class: "page-link"
      - else
        = link_to page_number, users_path(page: page_number), class: "page-link"
    %li.page-item
      = link_to t(".next"), users_path(page: @page + 1), class: "page-link" if @page < @total_page