- @users.each do |user|
  %tr
    %td= user.id
    %td= link_to "#{user.name}", user
    %td= user.email
    %td
      = link_to "Delete", users_path(user), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-warning btn-sm", remote: true
