.card
  .card-body
    .span
      %div{:style => " margin-top: 15px; "}
        = form_tag users_path, method: :get, :id => "search-users" do
          .input-group
            = text_field_tag :query, params[:query]
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover{:style => "text-align: center"}
      %thead
        %tr
          %th
            = t(".id")
          %th
            = t(".name")
          %th
            = t(".email")
          %th
      %tbody#users_table
        = render "users"
    = paginate @users, theme: 'twitter-bootstrap-4'
#myModal1