%p#notice= notice
%h1 Users
= form_tag users_path, :method => 'get', :id => "match_name_email" do
  = text_field_tag :match_name_email, params[:match_name_email]
  = submit_tag t(".search"), name: nil
  #users= render 'users'
  = render 'pagination'