%h1{style: "text-align: center;"}= t(".sign_up")
.row.justify-content-center
  .col-md-6
    = form_for(@user) do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .form-group
        = f.label :email
        - if session[:email].present?
          = f.email_field :email, class: "form-control", value: session[:email]
        - else
          = f.email_field :email, class: "form-control"
      .form-group
        = f.label :password
        = f.password_field :password, class: "form-control"
      .form-group
        = f.label :password_confirmation, t(".password_confirmation")
        = f.password_field :password_confirmation, class: "form-control"
      = f.submit t(".create_my_account"), class: "btn btn-primary"
