.card
  .card-body
    .table-responsive
      %table#devices.table.table-striped.table-bordered.table-hover{:style => "text-align: center"}
        %thead
          %tr
            %th
              = t(".when")
            %th
              = t(".end_at")
            %th
              = t(".by")
            %th
              = t(".tag")
            %th
        %tbody#request
          - @device.requests.each do |request|
            %tr
              %td
                = l(request.created_at, format: :date_month_year_concise)
              %td
                - if request.end_at.present?
                  = l(request.end_at, format: :date_month_year_concise)
              %td
                = request.user.name
              %td
                = request.tags.pluck(:name).join(", ")
              %td
                = link_to t(".edit"), edit_request_path(request), class: "btn btn-info btn-sm", remote: true
#ModalRequestEdit
